.marging-left-15 {
  margin-left: 15px;
}

.actions {
  margin-top: 16px;
  float: right;
  text-align: right;
  button {
    margin: 0 6px;
  }
}

.mat-success {
  background-color: green;
  color: #fff;
}
