

/********** 3. HEADER STYLES **********/
/**************************************/

.headerwrapper {
    //background-color: #1f6b9e;
    min-height: 50px;
    width: 100%;
    z-index: 1000;
    margin-bottom: 16px;
    background: white;
    border-bottom: 1px solid #ccc;
    &:after {
        clear: both;
        display: block;
        content: '';
    }
}
.header-left {
    float: left;
}

.header-right {
    float: right;
}

a.btn.btn-social-icon.btn-github {
    color: #000;
    border: 1px solid #000;
    margin: 10px;
}

.logo {
  max-width: 56px;
  max-height: 56px;
  margin: 16px;
}
